/* BongoRepo.css */
.repo-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(3, 3, 3);
    color: white;
}

.repo-header {
    padding: 1rem;
    background-color: #24292e;
    color: white;
}

.search-bar {
    background-color: #1b1c1e;
    border-radius: 6px;
    padding: 0.5rem 1rem;
}

.user-actions {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
}

.repo-content {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #24292e;
    padding: 1rem;
}

.repo-name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.sidebar-list {
    list-style-type: none;
    padding-left: 0;
}

.list-item {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
}

.list-item:hover {
    background-color: rgb(169, 169, 169);
}

.repo-view {
    flex: 1;
    padding: 1rem;
}

.repo-breadcrumbs {
    margin-bottom:
        1rem;
}

.repo-readme {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-footer {
    padding: 1rem;
    background-color: #24292e;
    color: white;
    text-align: center;
}