body{
    background-image: url('/public/1712934225158.jpeg') !important;
    background-size: cover !important;
    /* background-position: center !important; */
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    backdrop-filter : blur(10px)
}